* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@property --rotate{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

@keyframes borderAnimate{
    from{
        --rotate:0deg;
    }
    to{
        --rotate:360deg;
    }
}
.box h2{
    padding: 0px 10px;

}
.box{

    max-width: 300px;
    padding-inline: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 20px;
    background: linear-gradient(black) padding-box,
                conic-gradient(from var(--rotate), black, rgb(215, 3, 208), black) border-box;
    border: 0px solid rgba(255, 255, 255, 0);
    margin: 10px;
    animation: borderAnimate 5s infinite;
    animation-timing-function: linear;
    animation-play-state: paused;
    transition: all 0.2s linear;
    box-shadow: 0 0 0px  rgb(215, 3, 208) ;
    color: white;
    text-shadow: 0 0 0px rgb(215, 3, 208) ;
    
}

.box:hover{
    animation-play-state: running;
    border-width: 5px;
    box-shadow: 0 0 50px  rgb(161, 8, 156) ;
    color:  rgb(215, 3, 208);
        text-shadow: 0 0 10px rgb(215, 3, 208) ;




}

.box img{
    width: 100%;
    background-size: cover;
    
}
.box p{
    padding: 0px 10px  20px;
    font-size: 15px;
    
}


